* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  background-color: rgb(212, 212, 212);
  font-size: 18px;
}

header {
  display: flex;
  padding: 0 1%;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.trybewarts-header-logo {
  width: 80px;
}

.trybewarts-login {
  display: flex;
  flex-direction: column;
}

#trybewarts-header-title {
  font-size: 4em;
}

.flex-container {
  display: flex;
  padding: 0 0.5%;
}

main section{
  display: flex;
  flex-direction: column;
}

#trybewarts-forms-logo{
    height: 500px;
}

main form div{
  display: flex;
}

#evaluation-form {
  width: 675px;
  display: flex;
  flex-direction: column;
  gap: 1%;
}

main label {
  display: flex;
  gap: 1%;
}

#trybewarts-forms-logo {
  height: 500px;
}